<h2>About the Author</h2>
<p>I.J. Barker is a perpetual eccentric obsessed with insect life, bicycles and epicurean oddities. He's also a person 
who has overcome a lot, learned a lot, and wants to share a lot--even at the risk of <i>over</i>sharing. Because I
think you're worth it.</p>

<h2>Benefits</h2>
<ul>
  <li>Useful life advice</li>
  <li>Quotes from obscure <a href = "https://en.wikipedia.org/wiki/Archilochus">Greek poets</a> and 
  <a href = "https://en.wikipedia.org/wiki/Omar_Khayyam">Persian polymaths</a></li>
  <li>Hopefully, a healthier philosophy towards life, the universe, and yourself.</li>
</ul>

<p>If this all sounds good to you, stay tuned.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://www.ijbarker.me">My Personal Website</a>
  </li>
</ul>
